---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

import Cta from "@components/cta.astro";
import Webcards from "@components/webcards.astro";
---

<Layout title="Développement web">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Développement web</Fragment>
      <Fragment slot="desc">
        Passionné par le monde numérique, je vous accompagne dans la
        concrétisation de vos projets web. Des sites vitrines aux applications
        métier, chaque projet est une aventure où qualité, technologie et
        communication sont au cœur de ma démarche.
      </Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">Ma méthode</h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Chaque projet est unique, tout comme votre vision et vos besoins. En
        tant que développeur web freelance, je m'attache à comprendre vos
        ambitions pour y répondre avec précision. J'adapte les technologies
        utilisées à chaque demande, garantissant ainsi une solution sur mesure.
        Soucieux de fournir un travail de qualité, je m'appuie sur des principes
        agiles qui favorisent la communication et la collaboration entre nous.
        Cette approche permet d'ajuster le projet au fil de l'eau, de prioriser
        les tâches et de livrer une solution qui dépasse vos attentes.
      </p>
    </div>

    <Webcards />
    <Cta />
  </Container>
</Layout>
