---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="Mentions légales">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Mentions légales</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16 text-justify">
      Conformément aux dispositions des Articles 6-III et 19 de la Loi
      n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique,
      dite L.C.E.N., il est porté à la connaissance des utilisateurs et
      visiteurs, ci-après l""Utilisateur", du site agenceneodesign.com ,
      ci-après le "Site", les présentes mentions légales. La connexion et la
      navigation sur le Site par l’Utilisateur implique acceptation intégrale et
      sans réserve des présentes mentions légales. Ces dernières sont
      accessibles sur le Site à la rubrique « Mentions légales ».

      <h3 class="text-l font-bold mt-24">ARTICLE 1 - L'ÉDITEUR</h3>
      L'édition du Site est assurée par NeoDesign EURL au capital de 500 euros, immatriculée
      au Registre du Commerce et des Sociétés de Amiens sous le numéro 898918594
      dont le siège social est situé au 73 rue du Général Chanzy, 80000 Amiens
      <br />
      Numéro de téléphone : 0782732279
      <br />
      Adresse e-mail : bonjour@agenceneodesign.com
      <br />
      N° de TVA intracommunautaire: FR12898918594
      <br />
      Le Directeur de la publication est Jimy Marletta, ci-après l'"Éditeur".

      <h3 class="text-l font-bold mt-12">ARTICLE 2 - L'HÉBERGEUR</h3>
      L'hébergeur du Site est la société Vercel, dont le siège social est situé à
      San Fransisco, Californie, USA.

      <h3 class="text-l font-bold mt-12">ARTICLE 3 - ACCÈS AU SITE</h3>
      Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure,
      interruption programmée ou non et pouvant découlant d’une nécessité de maintenance.
      En cas de modification, interruption ou suspension du Site, l'Éditeur ne saurait
      être tenu responsable.

      <h3 class="text-l font-bold mt-12">ARTICLE 4 - COLLECTE DES DONNÉES</h3>
      Le Site assure à l'Utilisateur une collecte et un traitement d'informations
      personnelles dans le respect de la vie privée conformément à la loi n°78-17
      du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.
      En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur
      dispose d'un droit d'accès, de rectification, de suppression et d'opposition
      de ses données personnelles. L'Utilisateur exerce ce droit : · par mail à l'adresse
      email bonjour@agenceneodesign.com · via un formulaire de contact Toute utilisation,
      reproduction, diffusion, commercialisation, modification de toute ou partie
      du Site, sans autorisation de l’Éditeur est prohibée et pourra entraînée des
      actions et poursuites judiciaires telles que notamment prévues par le Code
      de la propriété intellectuelle et le Code civil.
    </div>
  </Container>
</Layout>
