---
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="Tarifs">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Tarifs</Fragment>
      <Fragment slot="desc">
        Bien qu'il soit difficile de définir des tarifs précis sans connaître
        les détails d'un projet, je tiens à vous donner une idée sur les tarifs
        en vous donnant des fouchettes de prix. Gardez bien à l'esprit que ces
        prix sont indicatifs et peuvent varier en fonction de la complexité de
        votre projet.
      </Fragment>
    </Sectionhead>

    <main class="mt-16">
      <!-- SITE VITRINE -->
      <div
        class="mx-auto mt-16 max-w-2xl rounded-3xl ring-1 ring-gray-200 sm:mt-20 lg:mx-0 lg:flex lg:max-w-none">
        <div class="p-8 sm:p-10 lg:flex-auto">
          <h3 class="text-2xl font-bold tracking-tight text-gray-900">
            Site vitrine
          </h3>
          <p class="mt-6 text-base leading-7 text-gray-600">
            Un site vitrine existe pour développer votre présence en ligne et
            votre image numérique. C'est un indispensable aujourd'hui.
          </p>
          <div class="mt-10 flex items-center gap-x-4">
            <h4
              class="flex-none text-sm font-semibold leading-6 text-yellow-600">
              Ce qui est inclus
            </h4>
            <div class="h-px flex-auto bg-gray-100"></div>
          </div>
          <ul
            role="list"
            class="mt-8 grid grid-cols-1 gap-4 text-sm leading-6 text-gray-600 sm:grid-cols-2 sm:gap-6">
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-yellow-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"></path>
              </svg>
              Développement du site
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-yellow-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"></path>
              </svg>
              3 passes de retouches
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-yellow-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"></path>
              </svg>
              Formation de 2 heures à la gestion du site
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-yellow-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"></path>
              </svg>
              1 mois de maintenance
            </li>
          </ul>
        </div>
        <div class="-mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0">
          <div
            class="rounded-2xl bg-gray-50 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16">
            <div class="mx-auto max-w-xs px-8">
              <p class="text-base font-semibold text-gray-600">Entre</p>
              <p class="mt-6 flex items-baseline justify-center gap-x-2">
                <span class="text-5xl font-bold tracking-tight text-gray-900"
                  >800€</span
                >
                <span
                  class="text-sm font-semibold leading-6 tracking-wide text-gray-600"
                  >et</span
                >
                <span class="text-5xl font-bold tracking-tight text-gray-900"
                  >1400€</span
                >
              </p>
              <a
                href="#"
                class="mt-10 block w-full rounded-md bg-yellow-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-yellow-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-600"
                >Je veux un devis</a
              >
              <p class="mt-6 text-xs leading-5 text-gray-600">
                Je vous envoie un devis gratuit dans les 48 heures suivant votre
                demande.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- / SITE VITRINE -->

      <!-- SITE E-COMMERCE -->
      <div
        class="mx-auto mt-16 max-w-2xl rounded-3xl ring-1 ring-gray-200 sm:mt-20 lg:mx-0 lg:flex lg:max-w-none">
        <div class="-mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0">
          <div
            class="rounded-2xl bg-gray-50 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16">
            <div class="mx-auto max-w-xs px-8">
              <p class="text-base font-semibold text-gray-600">Entre</p>
              <p class="mt-6 flex items-baseline justify-center gap-x-2">
                <span class="text-5xl font-bold tracking-tight text-gray-900"
                  >2000€</span
                >
                <span
                  class="text-sm font-semibold leading-6 tracking-wide text-gray-600"
                  >et</span
                >
                <span class="text-5xl font-bold tracking-tight text-gray-900"
                  >5000€</span
                >
              </p>
              <a
                href="#"
                class="mt-10 block w-full rounded-md bg-yellow-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-yellow-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-600"
                >Je veux un devis</a
              >
              <p class="mt-6 text-xs leading-5 text-gray-600">
                Je vous envoie un devis gratuit dans les 48 heures suivant votre
                demande.
              </p>
            </div>
          </div>
        </div>
        <div class="p-8 sm:p-10 lg:flex-auto">
          <h3 class="text-2xl font-bold tracking-tight text-gray-900">
            Site e-commerce
          </h3>
          <p class="mt-6 text-base leading-7 text-gray-600">
            Un site e-commerce est une plateforme en ligne où vous pourrez
            vendre vos produits ou services directement à vos clients, offrant
            ainsi une commodité d'achat 24/7 et une portée mondiale, ce qui en
            fait un outil essentiel pour élargir votre clientèle et stimuler vos
            ventes.
          </p>
          <div class="mt-10 flex items-center gap-x-4">
            <h4
              class="flex-none text-sm font-semibold leading-6 text-yellow-600">
              Ce qui est inclus
            </h4>
            <div class="h-px flex-auto bg-gray-100"></div>
          </div>
          <ul
            role="list"
            class="mt-8 grid grid-cols-1 gap-4 text-sm leading-6 text-gray-600 sm:grid-cols-2 sm:gap-6">
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-yellow-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"></path>
              </svg>
              Développement du site
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-yellow-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"></path>
              </svg>
              3 passes de retouches
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-yellow-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"></path>
              </svg>
              Formation de 2 heures à la gestion du site
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-yellow-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"></path>
              </svg>
              Ajout de 10 fiches produit
            </li>
          </ul>
        </div>
      </div>

      <!-- / SITE E-COMMERCE -->
    </main>
  </Container>
</Layout>
