---
import { Icon } from "astro-icon";
---

<!-- TODO: change icons -->
<div class="flow-root mt-48 mb-48">
  <h2 class="col-span-3 font-bold text-3xl text-gray-800 mb-12">Historique</h2>
  <ul role="list" class="-mb-8">
    <li>
      <div class="relative pb-8">
        <span
          class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200"
          aria-hidden="true"></span>
        <div class="relative flex space-x-3">
          <div>
            <span
              class="h-8 w-8 rounded-full bg-yellow-500 flex items-center justify-center ring-8 ring-white">
              <Icon class="w-4 h-4 text-white" name="mdi:dev-to" />
            </span>
          </div>
          <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
            <div>
              <p class="text-sm text-gray-500">
                Réalisation de missions pour <a
                  href="/projets"
                  class="font-medium text-gray-900"
                  >Mersen, Finsweet, Refectory, FanHypnose...</a
                >
              </p>
            </div>
            <div class="whitespace-nowrap text-right text-sm text-gray-500">
              <time datetime="2020-09-20">2021 à aujourd'hui</time>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="relative pb-8">
        <span
          class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200"
          aria-hidden="true"></span>
        <div class="relative flex space-x-3">
          <div>
            <span
              class="h-8 w-8 rounded-full bg-blue-500 text-white flex items-center justify-center ring-8 ring-white">
              <Icon class="w-4 h-4" name="mdi:work-outline" />
            </span>
          </div>
          <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
            <div>
              <p class="text-sm text-gray-500">
                CDI en tant que développeur front end chez <span
                  class="font-medium text-gray-900">Ikomobi</span
                >
              </p>
            </div>
            <div class="whitespace-nowrap text-right text-sm text-gray-500">
              <time datetime="2020-09-22">2023</time>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="relative pb-8">
        <span
          class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200"
          aria-hidden="true"></span>
        <div class="relative flex space-x-3">
          <div>
            <span
              class="h-8 w-8 rounded-full bg-yellow-500 text-white flex items-center justify-center ring-8 ring-white">
              <Icon class="w-4 h-4" name="mdi:xml" />
            </span>
          </div>
          <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
            <div>
              <p class="text-sm text-gray-500">
                J'apprend à coder pour améliorer mes <span
                  class="font-medium text-gray-900">compétences</span
                >
              </p>
            </div>
            <div class="whitespace-nowrap text-right text-sm text-gray-500">
              <time datetime="2020-09-30">2021</time>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="relative pb-8">
        <span
          class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200"
          aria-hidden="true"></span>
        <div class="relative flex space-x-3">
          <div>
            <span
              class="h-8 w-8 rounded-full bg-yellow-500 text-white flex items-center justify-center ring-8 ring-white">
              <Icon class="w-4 h-4" name="mdi:party-popper" />
            </span>
          </div>
          <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
            <div>
              <p class="text-sm text-gray-500">
                Je me lance en <span class="font-medium text-gray-900"
                  >freelance</span
                >
              </p>
            </div>
            <div class="whitespace-nowrap text-right text-sm text-gray-500">
              <time datetime="2020-09-30">2021</time>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="relative pb-8">
        <div class="relative flex space-x-3">
          <div>
            <span
              class="h-8 w-8 rounded-full bg-blue-500 text-white flex items-center justify-center ring-8 ring-white">
              <Icon class="w-4 h-4" name="mdi:work-outline" />
            </span>
          </div>
          <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
            <div>
              <p class="text-sm text-gray-500">
                Conseiller numérique à la <span
                  class="font-medium text-gray-900"
                  >Chambre des Métiers et de l'Artisanat</span
                >
              </p>
            </div>
            <div class="whitespace-nowrap text-right text-sm text-gray-500">
              <time datetime="2020-10-04">2019 - 2021</time>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
