---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Site vitrine",
    description:
      "Un site vitrine est la base de votre présence numérique. Je vous aide dans son développement.",
    icon: "mdi:eye-outline",
  },
  {
    title: "E-commerce",
    description:
      "Développer un bon site e-commerce demande une technologie adaptée, et une stratégie bien ficelée.",
    icon: "mdi:cart-outline",
  },
  {
    title: "Blog",
    description:
      "Vous souhaitez vous lancer dans l'aventure du blogging ? Je vous accompagne le développement de votre blog!",
    icon: "mdi:post-outline",
  },
  {
    title: "Application web",
    description:
      "Que vous ayez besoin d'un CRM, d'un ERP, ou si vous avez l'idée d'une nouvelle web app, je peux vous aider à la développer.",
    icon: "mdi:application-brackets-outline",
  },
  {
    title: "Application mobile",
    description:
      "Une application mobile est un excellent moyen de fidéliser vos clients. Je peux vous épauler dans sa création.",
    icon: "mdi:cellphone",
  },
  {
    title: "Réferencement",
    description:
      "Tous les sites que je développe sont optimisés pour le SEO. Mais s'il faut travailler plus en profondeur, je peux vous aider.",
    icon: "mdi:chart-line",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Le développeur qui répond à tous vos besoins.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Grâce à mes diverses expériences, je peux vous accompagner sur tous vos
    projets numériques. En plus de la technique, je m'engage à vous apporter une
    réelle valeur ajouter sur l'accompagnement que je vous fournis.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
